background-color: {};
border-style: solid;
border-width: 1px;
border-color: {};
border-radius: 5px;
padding: 10px;
QLineEdit {{
    background-color: {};
    border: none;
}}
QPushButton {{
    background-color: {};
    color: {};
    border-radius: 5px;
}}